body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
    flex-direction: column;
}

.centered-content {
    text-align: center;
}

.spline-viewer {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    margin-bottom: 20px; /* Space between the 3D object and the text */
}

.centered-text {
    font-size: 48px;
    font-weight: 300; /* Lato Light */
    line-height: 96px; /* Double the font size */
}

.centered-text .company {
    font-weight: 700; /* Lato Bold */
}
