body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
}

.top-left-circle {
    position: absolute;
    top: 50px; /* 50 pixels from the top */
    left: 50px; /* 50 pixels from the left */
    width: 50px;
    height: 50px;
    background-color: #000; /* Circle background color */
    color: #fff; /* Text color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Font size for the letter "T" */
    font-weight: 700; /* Bold text */
}

.centered-text {
    text-align: center;
    font-size: 48px;
    font-weight: 300; /* Lato Light */
    line-height: 96px; /* Double the font size */
}

.centered-text .emoji {
    font-size: 96px; /* Double the font size for the emoji */
    margin: 0;
    padding: 0;
    line-height: 1; /* Normal line height for the emoji */
}

.centered-text .company {
    font-weight: 700; /* Lato Bold */
}

.get-in-touch {
    position: absolute;
    bottom: 20px; /* Adjust this value as needed */
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700; /* Lato Bold */
    color: #000;
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 50px; /* Makes the button round/pill-shaped */
    cursor: pointer;
    text-align: center;
}

.get-in-touch:hover {
    background-color: #f0f0f0;
}
