body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
}

.centered-text {
    text-align: center;
    font-size: 48px;
    font-weight: 300; /* Lato Light */
    line-height: 96px; /* Double the font size */
}

.centered-text .company {
    font-weight: 700; /* Lato Bold */
}
